{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=dailybread;Username=your_username;Password=YOUR_SECURE_PASSWORD_HERE"
  },
  "Seed": {
    "Run": true
  },
  "Application": {
    "MigrateDatabaseOnStartup": true,
    "SeedDataOnStartup": true
  }
}
