/* Removing specific styles for login card form controls
   as these will be handled globally for consistency
   and to reduce redundancy in styling.
*/

.login-card .form-check-label {
    color: var(--nord4);
    font-size: var(--font-size-sm);
}
