.password-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.password-input-wrapper .input-group {
    width: 100%;
}

.password-input-wrapper .form-control {
    border-right: none;
}

.password-input-wrapper .form-control:focus {
    border-right: none;
}

.password-input-wrapper .form-control:focus + .password-toggle {
    border-color: var(--nord10);
}

.password-toggle {
    border-left: none;
    background-color: var(--nord1);
    border-color: var(--nord3);
    color: var(--nord4);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 44px;
    cursor: pointer;
}

.password-toggle:hover {
    background-color: var(--nord2);
    color: var(--nord6);
    border-color: var(--nord3);
}

.password-toggle:active {
    background-color: var(--nord3) !important;
    color: var(--nord6) !important;
}

.password-toggle:focus {
    box-shadow: none;
    outline: none;
}

.password-toggle .bi {
    font-size: 1.1rem;
    line-height: 1;
}
